body {
  background-color: #fef;
}

h1 {
  font-size: 36px;
}

header{
 width: auto;
 height: 10%;
 font-size: 36px;
 text-align: center;
 background-color: lightskyblue;
}

footer{
 text-align: center;
 padding-bottom: 20px;
}

.half-hidden{
  text-decoration: none;
}

.half-hidden:hover{
  text-decoration: underline;
}
