body {
  background-color: #fef;
}

h1 {
  font-size: 36px;
}

header{
 font-size: 36px;
 text-align: center;
 padding-top: 20px;
 background-image: url("header.JPG");
}

footer{
 text-align: center;
 padding-bottom: 20px;
}
